## Environment Set Up

In [1]:
import os
from pathlib import Path
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
dateNow = datetime.now().strftime("%Y%m%d")

print(dateNow)

20221031

In [3]:
# define working directory up a level
p = Path().absolute()
print(p)
path = p.parent.parent.absolute()
print(path)
data_folder = Path(path, "data")
print(data_folder)

c:\Users\2006431\OneDrive - EY\70-Dev\01-Projects\nufcDashboard\code\notebooks
c:\Users\2006431\OneDrive - EY\70-Dev\01-Projects\nufcDashboard
c:\Users\2006431\OneDrive - EY\70-Dev\01-Projects\nufcDashboard\data

## Load Data

In [4]:
keepcols = [
    "Div",
    "Date",
    "Time",
    "HomeTeam",
    "AwayTeam",
    "FTHG",
    "FTAG",
    "FTR",
    "HTHG",
    "HTAG",
    "HTR",
    "Referee",
    "HS",
    "AS",
    "HST",
    "AST",
    "HF",
    "AF",
    "HC",
    "AC",
    "HY",
    "AY",
    "HR",
    "AR",
]
results_csv = "https://www.football-data.co.uk/mmz4281/2223/E0.csv"
results = pd.read_csv(
    results_csv, usecols=keepcols, parse_dates=["Date"], dayfirst=True
)

results.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,2022-08-05,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,2,2,16,11,3,5,1,2,0,0
1,E0,2022-08-06,12:30,Fulham,Liverpool,2,2,D,1,0,...,3,4,7,9,4,4,2,0,0,0
2,E0,2022-08-06,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,3,2,18,16,5,5,3,3,0,0
3,E0,2022-08-06,15:00,Leeds,Wolves,2,1,H,1,1,...,4,6,13,9,6,4,2,0,0,0
4,E0,2022-08-06,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,10,0,9,14,11,1,0,3,0,0

In [5]:
results.tail()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
121,E0,2022-10-29,15:00,Newcastle,Aston Villa,4,0,H,1,0,...,7,0,11,11,3,0,1,1,0,0
122,E0,2022-10-29,17:30,Fulham,Everton,0,0,D,0,0,...,6,4,10,8,13,4,2,1,0,0
123,E0,2022-10-29,19:45,Liverpool,Leeds,1,2,A,1,1,...,10,6,9,3,14,5,0,1,0,0
124,E0,2022-10-30,14:00,Arsenal,Nott'm Forest,5,0,H,1,0,...,10,2,9,8,9,4,0,1,0,0
125,E0,2022-10-30,16:15,Man United,West Ham,1,0,H,1,0,...,3,5,12,10,5,10,1,3,0,0

## Data Transformation

### Melt 

creates new dataframe (team_results) with 2 rows per match

In [6]:
## converting each matchup into 2 rows
## one where each team is 'current_team' and opponent is identfied
results["H"] = results["HomeTeam"]
results["A"] = results["AwayTeam"]
cols_to_keep = [
    "Div",
    "Date",
    "HomeTeam",
    "AwayTeam",
    "FTHG",
    "FTAG",
    "FTR",
    "HTHG",
    "HTAG",
    "HTR",
    "Referee",
]

team_results = pd.melt(
    results,
    id_vars=cols_to_keep,
    value_vars=["H", "A"],
    var_name="Home/Away",
    value_name="Team",
)

team_results["Opponent"] = np.where(
    team_results["Team"] == team_results["HomeTeam"],
    team_results["AwayTeam"],
    team_results["HomeTeam"],
)


team_results.head(20)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,Home/Away,Team,Opponent
0,E0,2022-08-05,Crystal Palace,Arsenal,0,2,A,0,1,A,A Taylor,H,Crystal Palace,Arsenal
1,E0,2022-08-06,Fulham,Liverpool,2,2,D,1,0,H,A Madley,H,Fulham,Liverpool
2,E0,2022-08-06,Bournemouth,Aston Villa,2,0,H,1,0,H,P Bankes,H,Bournemouth,Aston Villa
3,E0,2022-08-06,Leeds,Wolves,2,1,H,1,1,D,R Jones,H,Leeds,Wolves
4,E0,2022-08-06,Newcastle,Nott'm Forest,2,0,H,0,0,D,S Hooper,H,Newcastle,Nott'm Forest
5,E0,2022-08-06,Tottenham,Southampton,4,1,H,2,1,H,A Marriner,H,Tottenham,Southampton
6,E0,2022-08-06,Everton,Chelsea,0,1,A,0,1,A,C Pawson,H,Everton,Chelsea
7,E0,2022-08-07,Leicester,Brentford,2,2,D,1,0,H,J Gillett,H,Leicester,Brentford
8,E0,2022-08-07,Man United,Brighton,1,2,A,0,2,A,P Tierney,H,Man United,Brighton
9,E0,2022-08-07,West Ham,Man City,0,2,A,0,1,A,M Oliver,H,West Ham,Man City
10,E0,2022-08-13,Aston Villa,Everton,2,1,H,1,0,H,M Oliver,H,Aston Villa,Everton
11,E0,2022-08-13,Arsenal,Leicester,4,2,H,2,0,H,D England,H,Arsenal,Leicester
12,E0,2022-08-13,Brighton,Newcastle,0,0,D,0,0,D,G Scott,H,Brighton,Newcastle
13,E0,2022-08-13,Man City,Bournemouth,4,0,H,3,0,H,D Coote,H,Man City,Bournemouth
14,E0,2022-08-13,Southampton,Leeds,2,2,D,0,0,D,T Harrington,H,Southampton,Leeds
15,E0,2022-08-13,Wolves,Fulham,0,0,D,0,0,D,J Brooks,H,Wolves,Fulham
16,E0,2022-08-13,Brentford,Man United,4,0,H,4,0,H,S Attwell,H,Brentford,Man United
17,E0,2022-08-14,Nott'm Forest,West Ham,1,0,H,1,0,H,R Jones,H,Nott'm Forest,West Ham
18,E0,2022-08-14,Chelsea,Tottenham,2,2,D,1,0,H,A Taylor,H,Chelsea,Tottenham
19,E0,2022-08-15,Liverpool,Crystal Palace,1,1,D,0,1,A,P Tierney,H,Liverpool,Crystal Palace

In [7]:
team_results.tail(20)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,Home/Away,Team,Opponent
232,E0,2022-10-22,Nott'm Forest,Liverpool,1,0,H,0,0,D,P Tierney,A,Liverpool,Nott'm Forest
233,E0,2022-10-22,Everton,Crystal Palace,3,0,H,1,0,H,S Hooper,A,Crystal Palace,Everton
234,E0,2022-10-22,Man City,Brighton,3,1,H,2,0,H,C Pawson,A,Brighton,Man City
235,E0,2022-10-22,Chelsea,Man United,1,1,D,0,0,D,S Attwell,A,Man United,Chelsea
236,E0,2022-10-23,Aston Villa,Brentford,4,0,H,3,0,H,D England,A,Brentford,Aston Villa
237,E0,2022-10-23,Leeds,Fulham,2,3,A,1,1,D,A Taylor,A,Fulham,Leeds
238,E0,2022-10-23,Southampton,Arsenal,1,1,D,0,1,A,R Jones,A,Arsenal,Southampton
239,E0,2022-10-23,Wolves,Leicester,0,4,A,0,2,A,M Oliver,A,Leicester,Wolves
240,E0,2022-10-23,Tottenham,Newcastle,1,2,A,0,2,A,J Gillett,A,Newcastle,Tottenham
241,E0,2022-10-24,West Ham,Bournemouth,2,0,H,1,0,H,D Coote,A,Bournemouth,West Ham
242,E0,2022-10-29,Leicester,Man City,0,1,A,0,0,D,R Jones,A,Man City,Leicester
243,E0,2022-10-29,Bournemouth,Tottenham,2,3,A,1,0,H,A Taylor,A,Tottenham,Bournemouth
244,E0,2022-10-29,Brentford,Wolves,1,1,D,0,0,D,R Madley,A,Wolves,Brentford
245,E0,2022-10-29,Brighton,Chelsea,4,1,H,3,0,H,A Madley,A,Chelsea,Brighton
246,E0,2022-10-29,Crystal Palace,Southampton,1,0,H,1,0,H,M Salisbury,A,Southampton,Crystal Palace
247,E0,2022-10-29,Newcastle,Aston Villa,4,0,H,1,0,H,P Tierney,A,Aston Villa,Newcastle
248,E0,2022-10-29,Fulham,Everton,0,0,D,0,0,D,J Brooks,A,Everton,Fulham
249,E0,2022-10-29,Liverpool,Leeds,1,2,A,1,1,D,M Oliver,A,Leeds,Liverpool
250,E0,2022-10-30,Arsenal,Nott'm Forest,5,0,H,1,0,H,S Hooper,A,Nott'm Forest,Arsenal
251,E0,2022-10-30,Man United,West Ham,1,0,H,1,0,H,C Kavanagh,A,West Ham,Man United

## Get Points from Results

In [8]:
# Function and Dictionary

points_map = {
    'W': 3,
    'D': 1,
    'L': 0
}

def get_result(score, score_opp):
    if score == score_opp:
        return 'D'
    elif score > score_opp:
        return 'W'
    else:
        return 'L'

In [9]:
# full time goals
team_results["Goals"] = np.where(
    team_results["Team"] == team_results["HomeTeam"],
    team_results["FTHG"],
    team_results["FTAG"],
)
team_results["Goals_Opp"] = np.where(
    team_results["Team"] != team_results["HomeTeam"],
    team_results["FTHG"],
    team_results["FTAG"],
)
team_results["Result"] = np.vectorize(get_result)(
    team_results["Goals"], team_results["Goals_Opp"]
)
team_results["Points"] = team_results["Result"].map(points_map)

team_results["Score"] = team_results["Goals"].astype(str) + '-' + team_results["Goals_Opp"].astype(str)

In [10]:
# Drop unnecessary columns and sort by date
cols_to_drop = ['HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR']
team_results = (team_results
                    .drop(cols_to_drop, axis=1)
                    .sort_values(by=['Date', 'Referee']))

In [11]:
team_results.head(20)

,Div,Date,Referee,Home/Away,Team,Opponent,Goals,Goals_Opp,Result,Points,Score
0,E0,2022-08-05,A Taylor,H,Crystal Palace,Arsenal,0,2,L,0,0-2
126,E0,2022-08-05,A Taylor,A,Arsenal,Crystal Palace,2,0,W,3,2-0
1,E0,2022-08-06,A Madley,H,Fulham,Liverpool,2,2,D,1,2-2
127,E0,2022-08-06,A Madley,A,Liverpool,Fulham,2,2,D,1,2-2
5,E0,2022-08-06,A Marriner,H,Tottenham,Southampton,4,1,W,3,4-1
131,E0,2022-08-06,A Marriner,A,Southampton,Tottenham,1,4,L,0,1-4
6,E0,2022-08-06,C Pawson,H,Everton,Chelsea,0,1,L,0,0-1
132,E0,2022-08-06,C Pawson,A,Chelsea,Everton,1,0,W,3,1-0
2,E0,2022-08-06,P Bankes,H,Bournemouth,Aston Villa,2,0,W,3,2-0
128,E0,2022-08-06,P Bankes,A,Aston Villa,Bournemouth,0,2,L,0,0-2
3,E0,2022-08-06,R Jones,H,Leeds,Wolves,2,1,W,3,2-1
129,E0,2022-08-06,R Jones,A,Wolves,Leeds,1,2,L,0,1-2
4,E0,2022-08-06,S Hooper,H,Newcastle,Nott'm Forest,2,0,W,3,2-0
130,E0,2022-08-06,S Hooper,A,Nott'm Forest,Newcastle,0,2,L,0,0-2
7,E0,2022-08-07,J Gillett,H,Leicester,Brentford,2,2,D,1,2-2
133,E0,2022-08-07,J Gillett,A,Brentford,Leicester,2,2,D,1,2-2
9,E0,2022-08-07,M Oliver,H,West Ham,Man City,0,2,L,0,0-2
135,E0,2022-08-07,M Oliver,A,Man City,West Ham,2,0,W,3,2-0
8,E0,2022-08-07,P Tierney,H,Man United,Brighton,1,2,L,0,1-2
134,E0,2022-08-07,P Tierney,A,Brighton,Man United,2,1,W,3,2-1

In [12]:
team_results.to_pickle(f'../../data/pickle/{dateNow}-team_results.pkl')

In [13]:
team_results.to_csv(f'../../output/{dateNow}-team_results.csv')